<html>
    <head>
        <title>Freedom Writers blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Freedom Writers blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>A cortege of clouds’
shifting planes 

reflected on a river,
the current’s weave deepens,

yet motionless
the dramatization of

a fern unfolding,
light illuminating the air

for a moment’s threshold,
when time, where we stand,

corresponds to the day
held firm,

derived from the elegance of
the equation

for what was once never here.   </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
